@media (max-width: 1100px) {
  /* ----------------------- section : home ----------------------- */
  .home-content {
    width: 100%;
  }
  /* ----------------------- section : project ----------------------- */
  .project > div {
    float: none;
  }
  /* 이미지 슬라이드 */
  .slick-slider {
    width: 100%;
  }
  /* 프로젝트 */
  .tab {
    height: auto;
  }
  /* 프로젝트 소개글 */
  .project-text {
    width: 100%;
  }
  .project-text br {
    display: none;
  }
  /* 프로젝트 바로가기 버튼 */
  label {
    padding: 5px;
    margin-right: 5px;
  }
}
@media (max-width:768px) {
  /* default css */
  body.active {
    overflow: hidden;
  }
  /* ----------------------- header ----------------------- */
  .header-inner {
    width: 100%;
  }
  /* 모바일 트리거 로고 */
  .trigger {
    display: block;
    width: 20px;
    height: 25px;
    font-size: 1.5em;
    position: absolute;
    top: 24px;
    right: 20px;
    background: url(../images/menu.png) no-repeat;
    background-size: contain;
    transition: 0.5s;
  }
  .trigger.active {
    background: url(../images/close.png) no-repeat;
    background-size: contain;
  }
  /* 로고 */
  .logo {
    margin-left: 20px
  }
  .logo a {
    font: inherit;
  }
  /* 네비게이션 바 */
  .gnb {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -220px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.212);
  }
  .gnb a i {
    font-size: 35px;
  }
  .gnb.active {
    right: 0px;
  }
  .gnb a:first-child {
    margin-top: 80px;
  }
  .gnb a:nth-child(5)::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    position: relative;
    top: 60px;
    left: 60px;
  }
  /* ----------------------- section : home ----------------------- */
  .home-inner {
    width: 100%;
  }
  /* 스크롤시 나타나는 컨텐츠 */
  .home-content > div {
    float: none;
    width: 100%;
  }
  .home-text-a h1 {
    font-size: 2em;
  }
  .home-text-a p#typeit {
    font-size: 1.3em;
  }
  .home-text-a span {
    font-size: 1em;
  }
  .home-text-b p {
    font-size: 1.3em;
  }
  /* 얼굴 사진 */
  .home-image {
    display: none;
  }
  /* ----------------------- section : project ----------------------- */
  .project > div {
    float: none;
  }
  /* 이미지 슬라이드 */
  .slick-slider {
    width: 100%;
  }
  /* 프로젝트 */
  .tab {
    height: auto;
  }
  /* 프로젝트 소개글 */
  .project-text {
    width: 100%;
  }
  .project-text br {
    display: none;
  }
  label {
    padding: 5px;
    margin-right: 5px;
  }
  /* --------------------- section : scss & grid --------------------- */
  /* scss-grid 컨텐츠들 */
  .practice-content a br {
    display: none;
  }
  /* ----------------------- section : about ----------------------- */
  .about-inner {
    width: 100%;
  }
  .about-me > div {
    float: none;
  }
  /* 얼굴 증명사진 */
  .face-photo {
    width: 100%;
  }
  /* 인적사항 */
  .personal-info {
    margin-top: 40px;
    text-align: center;
  }
  .personal-info hr {
    display: none;
  }
  .about-content {
    padding: 0 20px;
  } 
  /* 교육 내용 */
  .education {
    height: auto;
    margin-bottom: 20px;
  }
  .education >div {
    float: none;
  }
  .title {
    width: 100%;
    height: auto;
    border-right: none;
    text-align: left;
  }
  .title::after {
    display: none;
  }
  .info {
    padding-left: 0;
    padding-top: 10px;
  }
  /* 경력사항 */
  .experience {
    height: auto;
    margin-bottom: 20px;
  }
  /* ----------------------- section : skill ----------------------- */
  .skill-inner {
    width: 100%;
  }
  /* skill들 */
  .skill-content {
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
  }
  .skill {
    animation: utd 0.3s linear both;
  }
  .skill p {
    padding: 20px 20px;
  }
  
  /* ----------------------- section : epilogue ----------------------- */
  .epilogue-inner {
    width: 100%;
    padding: 0 20px
  }
  .epilogue-inner h2 {
    font-size: 29px;
  }
  .epilogue-inner p {
    line-height: 1.5em;
  }
  .epilogue-inner p br {
    display: none;
  }
  /* ----------------------- footer ----------------------- */
  .footer-inner {
    width: 100%;
  }
  .footer-inner a {
    bottom: 0;
  }
  .contact-info {
    padding-bottom: 70px;
  }
}