@charset "utf-8";
@media (max-width: 1100px) {
  /* ----------------------- header ----------------------- */
  .header-inner {
    width: 100%;
  }
  .logo {
    font-size: 1.5rem;
  }
  .gnb a {
    font-size: 1rem;
  }
  /* ----------------------- section : home ----------------------- */
  .home-content {
    width: 100%;
  }
  .scroll-text-c p {
    font-size: 2rem;
  }
  /* ----------------------- section : project ----------------------- */
  .project > div {
    width: 100%;
  }
  .tab {
    height: auto;
    flex-direction: column;
  }
  .project-content br {
    display: none;
  }
  label {
    padding: 5px;
    margin-right: 5px;
  }
  /* ----------------------- section : about ----------------------- */
  .about-inner {
    width: 100%;
  }
  .educations > h2,
  .experiences > h2 {
    padding-left: 1em;
  }
  .educations > hr,
  .experiences > hr {
    margin-left: 2em;
  }
  /* ----------------------- section : skill ----------------------- */
  .skill-inner {
    width: 100%;
  }
}
@media (max-width:768px) {
  /* default css */
  body.active {
    overflow: hidden;
  }
  /* ----------------------- header ----------------------- */
  .trigger {
    display: block;
    width: 20px;
    height: 25px;
    font-size: 1.5em;
    position: absolute;
    top: 24px;
    right: 20px;
    background: url(../images/menu.png) no-repeat;
    background-size: contain;
    transition: 0.5s;
  }
  .trigger.active {
    background: url(../images/close.png) no-repeat;
    background-size: contain;
  }
  .logo {
    font-size: 1rem;
  }
  .logo img {
    display: none;
  }
  .gnb {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: -220px;
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.212);
  }
  .gnb a {
    margin-bottom: 2em;
  }
  .gnb.active {
    right: 0px;
  }
  .gnb a:first-child {
    margin-top: 80px;
  }
  .gnb a:nth-child(5)::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    position: relative;
    top: 60px;
    left: 60px;
  }
  /* ----------------------- section : home ----------------------- */
  .home-inner {
    width: 100%;
  }
  .home-content > div {
    float: none;
    width: 100%;
  }
  .scroll-text-b strong {
    font-size: 2em;
  }
  .scroll-text-b p#typeit {
    font-size: 1.3em;
  }
  .scroll-text-b span {
    font-size: 1em;
  }
  .scroll-text-c p {
    font-size: 1.3em;
  }
  /* ----------------------- section : project ----------------------- */
  .project > div {
    float: none;
  }
  .slick-slider {
    width: 100%;
  }
  .tab {
    height: auto;
  }
  .project-content {
    width: 100%;
  }
  .project-content br {
    display: none;
  }
  label {
    padding: 5px;
    margin-right: 5px;
  }
  /* ----------------------- section : about ----------------------- */
  .about-inner {
    width: 100%;
  }
  .about-me,
  .education,
  .experience {
    flex-direction: column;
  }
  .face-photo {
    width: 100%;
  }
  .personal-info {
    margin-top: 40px;
    text-align: center;
  }
  .personal-info hr {
    display: none;
  }
  .about-content {
    padding: 0 20px;
  } 
  .education {
    height: auto;
    margin-bottom: 20px;
    padding-left: 1em;
  }
  .education >div {
    float: none;
  }
  .title {
    width: 100%;
    height: auto;
    border-right: none;
    text-align: left;
  }
  .title::after {
    display: none;
  }
  .info {
    padding-left: 0;
    padding-top: 10px;
  }
  .experience {
    height: auto;
    margin-bottom: 20px;
    padding-left: 1em;
  }
  /* ----------------------- section : skill ----------------------- */
  .skill-inner {
    width: 100%;
  }
  .skill-content {
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
  }
  .skill {
    animation: utd 0.3s linear both;
  }
  .skill p {
    padding: 20px 20px;
  }
  
  /* ----------------------- section : epilogue ----------------------- */
  .epilogue-inner {
    padding: 0 20px
  }
  .epilogue-inner h2 {
    font-size: 29px;
  }
  .epilogue-inner strong {
    font-size: 1.3rem;
  }
  .epilogue-inner p {
    line-height: 1.5em;
  }
  .epilogue-inner p br {
    display: none;
  }
  /* ----------------------- footer ----------------------- */
  .top-btn {
    display: none;
  }
  .contact-info {
    padding-bottom: 50px;
  }
}