/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* 눈누폰트 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* header {display: none;}
#home {display: none;}
#about {display: none;}
#skill {display: none;}
#project {display: none;}
#epilogue {display: none;}
footer {display: none;} */

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
/* default css */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 18px;
  scroll-behavior: smooth;
}
section {
  padding-top: 90px;
}
/* common css */
.headline {
  text-align: center;
  margin-bottom: 50px;
}
.headline h1{
  font-size: 2em;
}
.headline hr {
  border: transparent;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  background-color:cornflowerblue
}
.ltr {
  animation: ltr 0.5s linear both;
}
.rtl {
  animation: rtl 0.5s linear both;
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ----------------------- header ----------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header.active {
  background-color: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.473);
}
.header-inner {
  width: 1300px;
  margin: 0 auto;
  height: 65px;
  position: relative;
}
.logo {
  float: left;
}
.logo a {
  display: inline-block;
  padding: 20px 0;
  font-size: 1.5em;
}
.logo a img {
  width: 25px;
  height: 25px;
}
.gnb {
  float: right;
}
.gnb a {
  font-size: 1.5em;
  display: inline-block;
  padding: 20px 0 20px 60px; 
}
.trigger {
  display: none;
}
/* ----------------------- section : home ----------------------- */
#home {
  padding-top: 150px;
}
.home-inner {
  width: 1300px;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 100px;
}
.home-content {
  animation: opacity 1s 3.5s both;
}
.home-content > div {
  width: 50%;
  float: left;
}
.home-text {
  text-align: center;
  padding: 0 30px;
}
.home-text h1 {
  font-size: 4em;
  margin-bottom: 30px;
}
.home-text p#typeit {
  font-size: 2.5em;
  color: cornflowerblue;
}
.home-text p:last-child {
  margin-top: 30px;
  padding: 0 50px;
}
.home-text span {
  font-size: 2em;
}
.home-image {
  height: 400px;
}
.home-image img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
}
.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  transition: 0.5s;
  animation: dtu 2s linear both;
}
.home-inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 95vh;
  background-color: #000;
  animation: overlay 1s 2s ease-in-out both;
}
.welcome-text span {
  display: block;
}
@keyframes dtu {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  20% {
    opacity: 1;
    margin-top: 0;
  }
  70% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
    margin-top: -100px;
  }
}
@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------- section : about ----------------------- */
.about-inner {
  width: 1300px;
  margin: 0 auto;
}
.about-me {
  margin: 100px 0;
  overflow: hidden;
}
.about-me > div {
  float: left;
}
.face-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 55px;
}
.face-photo img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30%;
}
.personal-info span{
  font-size: 1.5em;
  display: block;
  margin: 20px 0 10px;
  padding-top: 15px;
}
.personal-info span:first-child{
  margin-top: 0;
  padding-top: 0;
}
.personal-info p {
  line-height: 1.5em;
  padding-bottom: 30px;
}
.personal-info a{
  color: cornflowerblue;
}
.educations {
  margin: 50px 0;
}
.educations hr {
  border: transparent;
  background-color: cornflowerblue;
  width: 100px;
  height: 3px;
  margin-bottom: 20px;
}
.education {
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.educations h2 {
  font-size: 1.8em;
}
.education >div {
  float: left;
}
.title {
  width: 40%;
  height: inherit;
  text-align: right;
  padding-right: 100px;
  border-right: 1px solid #ddd;
  position: relative;
}
.title h3 {
  padding-top: 10px;
}
.title::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid skyblue;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -8px;
}
.info {
  padding-left: 150px;
  padding-top: 10px;
}
.info span {
  font-size: 1.1em;
}
.info li {
  color: rgb(92, 92, 92);
}
.experiences hr {
  border: transparent;
  background-color: cornflowerblue;
  width: 100px;
  height: 3px;
  margin-bottom: 20px;
}
.experiences h2 {
  font-size: 1.8em;
}
.experience {
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.experience >div {
  float: left;
}
/* ----------------------- section : skill ----------------------- */
#skill {
  margin-top: 50px;
  background-color: rgba(207, 220, 245, 0.205);
}
.skill-inner {
  width: 1300px;
  margin: 0 auto;
}
.skill-inner .headline {
  padding-top: 60px;
}
.skill-content {
  overflow: hidden;
  padding-bottom: 60px;
}
.skill {
  float: left;
  width: 33.33333333%;
}
.skill:nth-child(1),
.skill:nth-child(2) {
  width: 50%;
}
.skill-title {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  transition: 0.5s;
}
.skill-title img {
  display: none;
}
.skill-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.skill-title:hover {
  transform: rotateY(360deg);
}
.skill-title:hover img{
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cornflowerblue;
}
.skill-title:hover span{
  display: none;
}
.skill p {
  padding: 20px 50px;
}
.skill:nth-child(1) p,
.skill:nth-child(2) p {
  padding: 20px 100px;
}
.utd {
  animation: utd 0.3s linear both;
}
@keyframes utd {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ----------------------- section : project ----------------------- */
#project {
  overflow: hidden;
  margin-bottom: 50px;
}
.project-inner {
  width: 100%;
  margin: 0 auto;
}
.project {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.project > div {
  float: left;
}
.slick-slider {
  width: 70%;
  height: 100%;
  position: relative;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-slider div img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slick-dots li{
  list-style: none;
  margin: 5px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-indent: -9999px;
  background-color: cornflowerblue;
  border-radius: 50%;
} 
.slick-dots li.slick-active {
  background-color: crimson;
}
.project-text {
  width: 30%;
  height: 100%;
  padding: 30px;
}
.sb-text h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-decoration: underline;
}
.sb-text p {
  line-height: 1.5em;
  margin-bottom: 30px;
}
.view-more {
  margin: 0 auto;
  text-align: center;
  
}
.demo,
.code {
  margin: 5px;
  border: 1px solid cornflowerblue;
  display: block;
  padding: 10px 50px;
  border-radius: 10px;
}
.demo:hover,
.code:hover {
  background-color: rgba(207, 220, 245, 0.205);;
}
input[type=radio] {
  display: none;
}
label {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border-bottom: none;
  margin-right: 15px;
}
.tabs {
  width: 500%;
  transition: 0.5s;
}
.tab {
  width: 20%;
  height: 70vh;
  float: left;
}
label[for=tab1]:hover,
label[for=tab2]:hover,
label[for=tab3]:hover,
label[for=tab4]:hover,
label[for=tab5]:hover {
  border-color: cornflowerblue;
}
input[id=tab1]:checked ~ label[for=tab1],
input[id=tab2]:checked ~ label[for=tab2],
input[id=tab3]:checked ~ label[for=tab3],
input[id=tab4]:checked ~ label[for=tab4],
input[id=tab5]:checked ~ label[for=tab5] {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
input[id=tab1]:checked ~ .tabs {
  margin-left: 0;
}
input[id=tab2]:checked ~ .tabs {
  margin-left: -100%;
}
input[id=tab3]:checked ~ .tabs {
  margin-left: -200%;
}
input[id=tab4]:checked ~ .tabs {
  margin-left: -300%;
}
input[id=tab5]:checked ~ .tabs {
  margin-left: -400%;
}

/* featherlight modal iframe */
.featherlight .featherlight-content {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}
.featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5px;
}
/* ----------------------- section : epilogue ----------------------- */
#epilogue {
  background-color: rgba(207, 220, 245, 0.205);
  padding-bottom: 50px;
  margin-bottom: 0;
}
.epilogue-inner {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.epilogue-inner h2 {
  margin-bottom: 30px;
}
.epilogue-inner p {
  line-height: 2em;
  color: rgb(112, 112, 112);
  animation: ltr 0.5s 0.3s linear both;
}
.epilogue-inner p span {
  font-size: 1.2em;
  color: #000;
}
/* ----------------------- footer ----------------------- */
.footer-inner {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.footer-inner > div {
  display: inline-block;
  width: 100%;
}
.contact-info {
  padding: 50px 0;
  text-align: center;
}
.contact-info h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.footer-inner a {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 70px;
  right: 5px;
  animation: infinite 2s linear infinite;
}
.footer-inner a img {
  width: 25px;
  height: 25px;
}
@keyframes infinite {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
