@charset "utf-8";
/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* 눈누폰트 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* header {display: none;}
#home {display: none;}
#about {display: none;}
#skill {display: none;}
#project {display: none;}
#epilogue {display: none;}
footer {display: none;} */

/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
/* default css */
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
body {
  font-family: 'GangwonEdu_OTFBoldA';
  scroll-behavior: smooth;
}
section {
  padding-top: 90px;
}
/* common css */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.headline {
  text-align: center;
  margin-bottom: 50px;
}
.headline h2{
  font-size: 2rem;
}
.headline hr {
  border: transparent;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  background-color:cornflowerblue
}
/* animation 정보 */
.ltr {
  animation: ltr 0.5s linear both;
}
.rtl {
  animation: rtl 0.5s linear both;
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ----------------------- header ----------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header.active {
  background-color: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.473);
}
.header-inner {
  margin: 0 auto;
  height: 65px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-left: 1em;
  width: 50%;
}
.logo a {
  display: inline-block;
  padding: 20px 0;
}
.logo a img {
  width: 25px;
  height: 25px;
}
.gnb {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}
.gnb a {
  font-size: 1.5rem;
}
.trigger {
  display: none;
}
/* ----------------------- section : home ----------------------- */
#home {
  padding-top: 150px;
}
.home-inner {
  max-width: 1300px;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 100px;
}
/* project 섹션과 겹칠떄 버튼이 안눌리는 현상을 해결하기 위함 */
.home-content.none {
  display: none !important;
}
.home-content {
  display: none;
  position: fixed;
  width: 1300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-content > div {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll-text-b {
  text-align: center;
  padding: 0 30px;
}
.scroll-text-b strong {
  font-size: 4rem;
  margin-bottom: 30px;
  display: block;
}
.scroll-text-b p#typeit {
  font-size: 2.5rem;
  color: cornflowerblue;
}
.scroll-text-b span {
  font-size: 2rem;
}
.scroll-text-c {
  text-align: center;
}
.scroll-text-c p {
  font-size: 2.5rem;
}
.scroll-text-a {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}
/* 시작화면일때만 보이도록 */
#show-effect-0 .scroll-text-a,
#show-effect-0 .home-content {
  display: block;
}
.welcome-text span {
  display: block;
}
/* ----------------------- section : project ----------------------- */
#project {
  overflow: hidden;
  margin-bottom: 50px;
}
.project-inner {
  width: 100%;
  margin: 0 auto;
}
.project {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.slick-slider {
  width: 60%;
  height: inherit;
  position: relative;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-slider div img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center center;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slick-dots li{
  list-style: none;
  margin: 5px;
  width: 13px;
  height: 13px;
  display: inline-block;
  text-indent: -9999px;
  background-color: cornflowerblue;
  border-radius: 50%;
} 
.slick-dots li.slick-active {
  background-color: crimson;
}
.project-content {
  width: 40%;
  height: 100%;
  padding: 30px;
}
.project-text h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-decoration: underline;
}
.project-text p {
  line-height: 1.5em;
  margin-bottom: 30px;
}
.view-more {
  margin: 0 auto;
  text-align: center;
}
.demo,
.github {
  margin: 5px;
  border: 1px solid cornflowerblue;
  display: block;
  padding: 10px 50px;
  border-radius: 10px;
}
.demo:hover,
.github:hover {
  background-color: rgba(207, 220, 245, 0.205);;
}
input[type=radio] {
  display: none;
}
label {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border-bottom: none;
  margin-right: 15px;
}
.tabs {
  width: 600%;
  transition: 0.5s;
}
.tab {
  width: 16.6666%;
  float: left;
  display: flex;
  justify-content: space-between;
}
label[for=tab1]:hover,
label[for=tab2]:hover,
label[for=tab3]:hover,
label[for=tab4]:hover,
label[for=tab5]:hover,
label[for=tab6]:hover {
  border-color: cornflowerblue;
}
input[id=tab1]:checked ~ label[for=tab1],
input[id=tab2]:checked ~ label[for=tab2],
input[id=tab3]:checked ~ label[for=tab3],
input[id=tab4]:checked ~ label[for=tab4],
input[id=tab5]:checked ~ label[for=tab5],
input[id=tab6]:checked ~ label[for=tab6] {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
input[id=tab1]:checked ~ .tabs {
  margin-left: 0;
}
input[id=tab2]:checked ~ .tabs {
  margin-left: -100%;
}
input[id=tab3]:checked ~ .tabs {
  margin-left: -200%;
}
input[id=tab4]:checked ~ .tabs {
  margin-left: -300%;
}
input[id=tab5]:checked ~ .tabs {
  margin-left: -400%;
}
input[id=tab6]:checked ~ .tabs {
  margin-left: -500%;
}
/* ----------------------- section : about ----------------------- */
.about-inner {
  max-width: 1300px;
  margin: 0 auto;
}
.about-me {
  margin: 100px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.face-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 55px;
}
.face-photo img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30%;
}
.personal-info span{
  font-size: 1.5rem;
  display: block;
  margin: 20px 0 10px;
  padding-top: 15px;
}
.personal-info span:first-child{
  margin-top: 0;
  padding-top: 0;
}
.personal-info p {
  line-height: 1.5em;
  padding-bottom: 30px;
}
.personal-info a{
  color: cornflowerblue;
}
.educations {
  margin: 50px 0;
}
.educations hr {
  border: transparent;
  background-color: cornflowerblue;
  width: 100px;
  height: 3px;
  margin-bottom: 20px;
}
.education {
  width: 100%;
  height: 130px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.educations h2 {
  font-size: 1.8rem;
}
.title {
  width: 40%;
  height: inherit;
  text-align: right;
  padding-right: 100px;
  border-right: 1px solid #ddd;
  position: relative;
}
.title h3 {
  padding-top: 10px;
}
.title::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid skyblue;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: -8px;
}
.info {
  width: 50%;
  padding-left: 150px;
  padding-top: 10px;
}
.info span {
  font-size: 1.1rem;
}
.info li {
  color: rgb(92, 92, 92);
}
.experiences hr {
  border: transparent;
  background-color: cornflowerblue;
  width: 100px;
  height: 3px;
  margin-bottom: 20px;
}
.experiences h2 {
  font-size: 1.8rem;
}
.experience {
  width: 100%;
  height: 130px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
/* ----------------------- section : skill ----------------------- */
#skill {
  margin-top: 50px;
  background-color: rgba(207, 220, 245, 0.205);
}
.skill-inner {
  max-width: 1300px;
  margin: 0 auto;
}
.skill-inner .headline {
  padding-top: 60px;
}
.skill-content {
  overflow: hidden;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skill-title {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  transition: 0.5s;
}
.skill-title img {
  display: none;
}
.skill-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.skill-title:hover {
  transform: rotateY(360deg);
}
.skill-title:hover img{
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cornflowerblue;
}
.skill-title:hover span{
  display: none;
}
.skill p {
  padding: 20px 50px;
}
.utd {
  animation: utd 0.3s linear both;
}
@keyframes utd {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ----------------------- section : epilogue ----------------------- */
#epilogue {
  background-color: rgba(207, 220, 245, 0.205);
  padding-bottom: 50px;
  margin-bottom: 0;
}
.epilogue-inner {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.epilogue-inner strong {
  font-size: 2rem;
  margin-bottom: 30px;
}
.epilogue-inner p {
  line-height: 2em;
  color: rgb(112, 112, 112);
  animation: ltr 0.5s 0.3s linear both;
}
.epilogue-inner p span {
  font-size: 1.2rem;
  color: #000;
}
/* ----------------------- footer ----------------------- */
.footer-inner {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.footer-inner > div {
  display: inline-block;
  width: 100%;
}
.contact-info {
  padding: 50px 0;
  text-align: center;
}
.contact-info strong {
  font-size: 2rem;
  margin-bottom: 10px;
}
/* 위로가기 버튼 */
.footer-inner a {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 1.7rem;
  position: absolute;
  bottom: 70px;
  right: 5px;
  animation: infinite 2s linear infinite;
}
.footer-inner a img {
  width: 25px;
  height: 25px;
}
@keyframes infinite {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
