@charset 'utf-8';

/* section : policy-sns */
.policy-sns {
  height: 454px;
  &-inner {
    position: relative;
    max-width: 1500px;
    height: 100%;
    margin: 50px auto;
  }
  .policy-sns-title {
    display: inline-block;
    &.active-policy-heading {
      @include active-heading-style;
    }
  }
  .sub-heading {
    @include sub-heading-style;
    &:hover {
      color: #111;
      position: relative;
      &::after {
        @include heading-after-style;
      }
    }
  }
  .text-wrap {
    box-sizing: border-box;
    display: block;
    padding: 1em 1em 2.5em;
  }
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; // 원하는 라인수
    -webkit-box-orient: vertical;
  }
  .swiper-button-prev {
    background: url(../images/sprite_img01.png) no-repeat;
    background-position: -20rem -4.3rem;
    left: -2.5em;
  }
  .swiper-button-next {
    background: url(../images/sprite_img01.png) no-repeat;
    background-position: -21.5rem -4.3rem;
    right: -2.5em;
  }
  .policy-content {
    display: none;
    width: 100%;
    position: absolute;
    top: 4em;
    .swiper-slide {
      width: 25%;
      border: 1px solid #e3e3e3;
      a {
        color: #222;
        height: 290px;
        &:hover {
          text-decoration: underline;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .sns-content {
    display: none;
    position: absolute;
    top: 4em;
    .sns-slider {
      width: 100%;
      max-width: 1500px;
      overflow: hidden;
    }
    .swiper-slide {
      border: 1px solid #e3e3e3;
      a {
        display: block;
        position: relative;
        height: 290px;
        overflow: hidden;
        color: #222;
        &:hover {
          text-decoration: underline;
        }
        img {
          width: 100%;
        }
      }
    }
    .text-tit {
      display: block;
      color: #000;
      font-weight: 500;
      padding-bottom: 1em;
    }
    .text-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7; // 원하는 라인수
      -webkit-box-orient: vertical;
    }
    .img-text {
      position: absolute;
      bottom: 0;
      background: #fff;
    }
    .sns-icon {
      display: block;
      width: 27px;
      height: 27px;
      background: url(../images/sprite_img01.png) no-repeat;
      position: absolute;
      bottom: 0.5em;
      right: 1em;
    }
    .blog-icon {
      background-position: 0 -160px;
    }
    .facebook-icon {
      background-position: -30px -160px;
    }
    .instagram-icon {
      background-position: -150px -160px;
    }
    .youtube-icon {
      background-position: -90px -160px;
    }
  }
  .active-policy {
    display: block;
  }
  .section-info {
    display: inline-block;
    width: calc(100% - 250px);
    p {
      color: #555;
      margin: 0;
      padding: 0.5em 1em;
      font-size: 1.1rem;
    }
  }
  .info-content {
    display: flex;
    justify-content: space-between;
  }
  .sns-links {
    .blog {
      @include sns-icon;
      background-position: 0 -130px;
    }
    .facebook {
      @include sns-icon;
      background-position: -30px -130px;
      margin-left: 0.5em;
    }
    .twitter {
      @include sns-icon;
      background-position: -60px -130px;
      margin-left: 0.5em;
    }
    .youtube {
      @include sns-icon;
      background-position: -90px -130px;
      margin-left: 0.5em;
    }
    .kakaotv {
      @include sns-icon;
      background-position: -120px -130px;
      margin-left: 0.5em;
    }
    .instagram {
      @include sns-icon;
      background-position: -150px -130px;
      margin-left: 0.5em;
    }
  }
}
@include large {
  .policy-sns {
    &-inner {
      box-sizing: border-box;
      padding: 0 1rem;
    }
    .active-policy {
      width: calc(100% - 2rem);
    }
    .swiper-button-prev {
      @include responsive-slide-btn;
      left: -1rem;
      &::after {
        @include slide-arrow-img;
        background-position: -320px -130px;
      }
    }
    .swiper-button-next {
      @include responsive-slide-btn;
      right: -1rem;
      &::after {
        @include slide-arrow-img;
        background-position: -350px -130px;
      }
    }
  }
}
@include medium {
  .policy-sns {
    .section-info {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      p {
        display: none;
      }
    }
    .info-content {
      justify-content: flex-end;
    }
    .policy-sns-content {
      height: 255px;
    }
    .policy-slider {
      height: 255px;
    }
    .sns-slider {
      height: 255px;
      .swiper-wrapper {
        height: 250px;
      }
    }
    .sns-content {
      .swiper-slide {
        a {
          width: 100%;
          height: 100%;
        }
        .text-wrap {
          height: 100%;
          box-sizing: border-box;
        }
      }
    }
    .sub-heading {
      font-size: 1.3rem;
      &:not(.first) {
        padding-left: 1.3em;
      }
    }
  }
}
@include small {
  .policy-sns {
    .section-info {
      right: 0.62rem; 
    }
    .sns-content {
      .text-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint7}) {
  .policy-sns {
    .section-info {
      width: calc(100% - 200px);
    }
    .sub-heading {
      font-size: 1.25rem;
    }
    .sub-heading:not(.first) {
      padding-left: 0.5em;
      &::before {
        left: 0;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint8}) {
  .policy-sns {
    .sns-links {
      .facebook {
        margin-left: 0.3em;
      }
      .twitter {
        margin-left: 0.3em;
      }
      .youtube {
        margin-left: 0.3em;
      }
      .kakaotv {
        margin-left: 0.3em;
      }
      .instagram {
        margin-left: 0.3em;
      }
    }
  }
}
@media (max-width: #{$screen-breakpoint9}) {
  .policy-sns {
    &-inner {
      padding: 0 4px;
    }
    .sub-heading {
      font-size: 1.1rem;
    }
    .policy-sns-title {
      margin-bottom: 0.5em;
    }
    .policy-sns-content {
      margin-top: 2.5em;
    }
    .section-info {
      position: static;
      width: 100%;
    }
    .info-content {
      justify-content: center;
    }
  }
}
