/* 강원교육모두체 폰트 */
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'GangwonEdu_OTFBoldA';
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #222;
}
li {
  list-style: none;
}