@charset 'utf-8';
@import './variables.scss';

//common mixin
@mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin sub-heading-style {
  color: #555;
  display: inline-block;
  &:not(.first) {
    padding-left: 1.5em;
    position: relative;
    @include subheading-list-style;
  }
}
@mixin subheading-list-style {
  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #555;
    position: absolute;
    top: 50%;
    left: 0.7em;
    transform: translateY(-50%);
  }
} 
@mixin active-heading-style {
  position: relative;
    a {
      color: #111;
      position: relative;
      &::after {
        @include heading-after-style;
      }
    }
}
@mixin heading-after-style {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #111;
  position: absolute;
  top: -20px;
}
@mixin more-view-btn {
  display: block;
  background: url(../images/btn_main_more.png) no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3em;
  right: 0;
}
// section : main
@mixin main-slide-btn {
  background: url(../images/sprite_img01.png) no-repeat;
  width: 12px;
  height: 20px;
}
// section : notice-reports
@mixin notice-content-style {
  display: none;
  width: 100%;
  position: absolute;
  top: 3em;
  margin-top: 1em;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  ul {
    padding-left: 0;
    @include notice-content-text;
  }
}
@mixin notice-content-text {
  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    padding-left: 1em;
    position: relative;
    padding: 0.5em 0 0.5em 1em;
    color: #333;
    border-bottom: 1px solid #d9d8dd;
    &:last-child {
      border: none;
    }
    a {
      color: #333;
    }
    @include subheading-list-style;
  }
}
@mixin reports-content-style {
  display: none;
  margin-top: 1em;
  position: absolute;
  top: 3em;
  justify-content: space-between;
  flex-wrap: wrap;
}
@mixin reports-content-text {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  padding: 1em;
  margin-bottom: 1em;
}
@mixin mobile-notice-content {
  li {
    font-size: 0.87rem;
    &::before {
      left: 0.48em;
    }
    span {
      display: inline-block;
      width: 92px;
    }
  }
}
// section : news
@mixin recommend-icon {
  display: block;
  width: 60px;
  height: 50px;
  background: url(../images/sprite_img02.png) no-repeat;
  background-size: cover;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 3em;
}
@mixin sns-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url(../images/sprite_img01.png) no-repeat;
}
@mixin noticeboard-btn-box {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 0 0.1em;
  border: 1px solid #333;
  position: relative;
  margin-top: 0;
  background: none;
}
@mixin noticeboard-btn-img {
  content: "";
  display: block;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/sprite_img01.png) no-repeat;
}
// section : policy-sns
@mixin responsive-slide-btn {
  width: 37px;
  height: 55px;
  background: rgba(0,0,0,0.6);
}
@mixin slide-arrow-img {
  content: "";
  width: 18px;
  height: 34px;
  background: url(../images/sprite_img01.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// section : relevant
@mixin select-box-style {
  border: none;
  appearance: none;
  width: 100%;
  color: #696969;
  padding-left: 1em;
}
@mixin relevant-slide-btn {
  background: url(../images/sprite_img01.png) no-repeat;
  width: 14px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

// responsive
@mixin large {
  @media (max-width: #{$screen-breakpoint1}) {
    @content;
  }
}
@mixin medium {
  @media (max-width: #{$screen-breakpoint4}) {
    @content;
  }
}
@mixin small {
  @media (max-width: #{$screen-breakpoint6}) {
    @content;
  }
}
