$screen-breakpoint1: 1500px;
$screen-breakpoint2: 1430px;
$screen-breakpoint3: 1320px;
$screen-breakpoint4: 1200px;
$screen-breakpoint5: 900px;
$screen-breakpoint6: 768px;
$screen-breakpoint7: 540px;
$screen-breakpoint8: 480px;
$screen-breakpoint9: 420px;
$screen-breakpoint10: 320px;
$screen-breakpoint11: 280px;