@charset "utf-8";
@media screen and (max-width: 1023px) {
  /* ---------------- section : home ---------------- */
  .title-message {
    width: 100%;
    left: 0;
  }
  .title-message strong {
    font-size: 2rem
  }
  /* ----------------- section : influence-ecosystem ----------------- */
  .influence-text p {
    font-size: 1.8rem;
  }
  .influence-info div {
    font-size: 2.5rem;
  }
  /* ----------------- section : influence-ecosystem ----------------- */
  .ecosystem-text p {
    font-size: 1.7rem;
    line-height: 1.5em;
  }
  .ecosystem-img {
    width: 50%;
  }
  /* --------------- section : guide --------------- */
  .guide-text h2 {
    font-size: 1.8rem;
  }
  .guide-about {
    padding: 0;
  }
  /* --------------- section : focus --------------- */
  .focus-item {
    width: 40%;
  }
  /* --------------- section : sevice --------------- */
  .service-about br {
    display: none;
  }
}
@media (max-width:768px) {
  /* default css */
  html {
    font-size: 16px;
  }
  section {
    padding: 50px 15px;
  }
  /* common css */
  .headline-share h2 {
    font-size: 1.7em;
  }
  .headline-share p {
    padding: 0 20px;
  }
  /* ---------------- header ---------------- */
  header {
    background-color: #bdd0de;
  }
  .header-inner {
    width: 100%;
  }
  .gnb {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.15);
    padding-top: 70px;
    padding-left: 15px;
    transition: 0.5s;
  }
  .gnb.active {
    right: 0;
  }
  .gnb a {
    display: block;
  }
  .trigger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 28px;
    text-align: center;
  }
  .trigger img {
    width: 30px;
    height: 30px;
  }
  
  /* ---------------- section : home ---------------- */
  #home {
    padding-top: 31px;
    height: 100vh;
  }
  .slideshow,
  .slick-list,
  .slick-track {
    height: inherit;
  }
  .slick-slide > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: left;
  }
  .title-message {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .title-message strong {
    font-size: 1.4rem;
  }
  .title-message span {
    font-size: 1rem;
  }
  .title-message p {
    padding: 0 30px;
  }
  .mouse {
    display: none;
  }
  /* ----------------- section : influence-ecosystem ----------------- */
  #influence-ecosystem {
    padding: 0;
  }
  .influence-content,
  .ecosystem-inner {
    width: 95%;
  }
  .ecosystem-inner {
    border-bottom: 1px solid #eee;
  }
  .influence-inner > div {
    float: none;
    width: 100%;
    text-align: center;
  }
  .influence-text {
    padding: 0;
  }
  .influence-text p {
    font-size: 1.5rem;
  }
  .influence-right > div {
    float: none;
    width: 100%;
  }
  .ecosystem-content {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .ecosystem-text,
  .ecosystem-img {
    width: 100%;
  }
  .ecosystem-img img {
    width: 100%;
  }
  /* --------------- section : guide --------------- */
  .guide {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .guide-inner {
    width: 100%;
  }
  .guide-content {
    flex-direction: column;
  }
  .guide-content > div {
    width: 100%;
  }
  .guide-slider {
    margin: 50px 0 80px;
  }
  .guide-text {
    text-align: center;
  }
  /* ----------------- section : channel ----------------- */
  .channel-inner {
    width: 100%;
  }
  .channel-content > div {
    width: 100%;
  }
  .tab-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tab-btn label {
    width: 100%;
  }
  .tab {
    padding: 20px;
    text-align: center;
  }
  .tab br {
    display: none;
  }
  /* --------------- section : focus --------------- */
  .focus-inner {
    width: 100%;
  }
  .focus-item {
    display: block;
    width: 100%;
    margin: 0 0 50px;
  }
  .focus-text h3 {
    font-size: 1.5em;
  }
  /* ----------------- section : service ----------------- */
  #service {
    padding: 72px 0 50px;
  }
  .service-inner {
    width: 100%;
  }
  .service .headline-text {
    width: 100%;
    background: url(./images/m_kfb_tool_210521.gif) no-repeat;
    background-size: contain;
    background-position: center;
  }
  .service .headline-text h2 {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-top: 5em;
  } 
  .service-content {
    width: 50%;
    margin: 0;
    padding: 10px;
  }
  .service-content > div {
    text-align: left;
  }
  .service-about p br {
    display: none;
  }
  /* ----------------- section : conjugation ----------------- */
  .conjugation-content > div {
    float: none;
    width: 100%;
    height: auto;
  }
  .conjugation-item-desc {
    padding: 20px 0;
  }
  .conjugation-item-headline {
    width: 80%;
  }
  .conjugation-item-headline h3 {
    font-size: 1.5em;
  }
  /* ----------------- section : faq ----------------- */
  .faq-inner {
    width: 100%;
  }
  .faq-inner .headline-share p {
    padding: 0;
    font-size: 1em;
  }
  /* faq 컨텐츠 */
  .faq-content > div {
    width: 100%;
    float: none;
    padding: 0;
  }
  .faq-title img {
    right: 3px;
  }
  /* ----------------- footer ----------------- */
  footer {
    padding: 40px 15px;
    text-align: center;
  }
  .footer-inner {
    width: 100%;
  }
  .footer-logo {
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .copyright {
    width: 100%;
  }
  .footer-content > div {
    float: none;
  }
  .policy {
    float: none;
  }
}